@keyframes kelip{
	0% {
		background-color: #000000;
		color: #FFFFFF;
	}
	50% {
		background-color: #FFFFFF;
		color: #000000;
	}
	100% {
		background-color: #000000;
		color: #FFFFFF;
	}
}

body{
	background-color: #000000;
	animation-name: kelip;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	font-family: Bahnschrift;
	text-align: center;
	font-size: 120%;
}

#foto{
	width: 20%;
	height: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}